body {
    font-family: Arial, sans-serif;
    background: rgb(238,174,202);
    background: linear-gradient(286deg, rgba(238,174,202,1) 0%, rgba(33,132,131,1) 92%);
}

.container {
    max-width: 500px;
    margin: 0px auto;
    padding: 20px;
    /* border: 1px solid rgb(204, 204, 204); */
    border-radius: 11px;
    background-color: rgb(101 101 123 / 24%);
    box-shadow: 2px 2px 23px;
}

.form-group {
    margin-bottom: 20px;
    margin-right: 23px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group select,
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
    background-color: rgb(101 101 123 / -14%);
    border: none;
    outline: none;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    padding: 10px;
}
.form-group select,
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; 
}
.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-group .error-message {
    color: red;
    font-size: 14px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#dob{
    background-color: rgb(101 101 123 / -14%);
}
 button{
    height: 40px;
    border: none;
    background-color: #f27474;
    width: 118px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 20px;
 }

 button:hover{
    background-color: #c63c3c;
 }